html, body{
    margin: 0;
    padding: 0;
}

.wrapper{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}