@font-face {
  src: url(./../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}
@font-face {
  src: url(./../fonts/Montserrat-Regular.ttf);
  font-family: Montserrat-Regular;
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  font-family: Montserrat-Regular;
}

section {
  padding: 40px 0px;
}

.page-borders {
  display: none;
  z-index: 99;
}
@media (min-width: 650px) {
  .page-borders {
    display: block;
  }
}
.page-borders div {
  position: fixed;
  background-color: #FFF;
}
.page-borders .border-top {
  width: 100vw;
  height: 50px;
  top: 0;
  overflow: auto;
}
.page-borders .border-top p {
  margin-left: 50px;
  text-transform: uppercase;
}
.page-borders .border-right {
  width: 50px;
  height: 100vh;
  right: 0;
  top: 0;
}
.page-borders .border-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.page-borders .border-right ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.page-borders .border-right ul li a {
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.7;
}
.page-borders .border-right ul li a:hover {
  color: black;
  opacity: 1;
}
.page-borders .border-right ul li a:visited {
  color: black;
}
.page-borders .border-bottom {
  width: 100vw;
  height: 50px;
  bottom: 0;
}
.page-borders .border-left {
  width: 50px;
  height: 100vh;
  left: 0;
  top: 0;
}

.landing-header {
  background-color: #54a0ff;
  width: 100%;
  height: calc(100vh + 300px);
  position: fixed;
  z-index: -9;
}
@media (min-width: 650px) {
  .landing-header {
    box-sizing: border-box;
    padding: 50px 50px 0px 50px;
  }
}
.landing-header .header-background {
  width: 50%;
  height: 100%;
  background-color: #F8F8F8;
  position: absolute;
  right: 0;
  -webkit-transition: 1s;
  transition: 0.7s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.landing-header img#landing-image {
  width: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 0.9s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
@media (min-width: 1000px) {
  .landing-header img#landing-image {
    width: 300px;
  }
}
.landing-header img#landing-text {
  position: fixed;
  top: 60%;
  left: 30px;
  width: 300px;
  opacity: 0;
}
@media (min-width: 650px) {
  .landing-header img#landing-text {
    left: 80px;
  }
}
@media (min-width: 1000px) {
  .landing-header img#landing-text {
    left: 300px;
  }
}
.landing-header img#landing-scroll-down {
  width: 70px;
  position: fixed;
  left: 20px;
  top: calc(100% - 100px);
  transition: 0.7s;
  animation: bounce-down 1s infinite;
}
@media (min-width: 650px) {
  .landing-header img#landing-scroll-down {
    top: calc(100% - 140px);
    left: 70px;
  }
}

.personal-section {
  z-index: -1;
  overflow: auto;
  background-color: #F8F8F8;
  width: 100%;
  position: relative;
  top: calc(100vh + 300px);
}
@media (min-width: 650px) {
  .personal-section {
    box-sizing: border-box;
    padding: 0px 50px;
  }
}
.personal-section .container {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}
@media (min-width: 650px) {
  .personal-section .container {
    flex-direction: row;
  }
}
@media (min-width: 1550px) {
  .personal-section .container {
    justify-content: center;
  }
}
.personal-section .container .image-side {
  z-index: 2;
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 1550px) {
  .personal-section .container .image-side {
    flex-basis: 35%;
  }
}
.personal-section .container .image-side:before {
  content: "";
  height: 100px;
  width: 4px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 20px;
}
.personal-section .container .image-side img {
  width: 75%;
  max-width: 250px;
  margin: 30px 0px;
}
.personal-section .container .image-side .grey-background {
  background-color: #E6E6E6;
  height: 50%;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 650px) {
  .personal-section .container .image-side .grey-background {
    display: none;
  }
}
.personal-section .container .text-side {
  z-index: 2;
  padding: 30px;
  position: relative;
  flex-basis: 50%;
}
@media (min-width: 1550px) {
  .personal-section .container .text-side {
    flex-basis: 35%;
  }
}
.personal-section .container .text-side::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 20px;
  height: 4px;
  width: 100px;
  background-color: #000;
}
.personal-section .container .text-side img {
  width: 250px;
}
.personal-section .container .text-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.personal-section .container .text-side ul li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 10px;
}
.personal-section .container .text-side ul li a {
  color: #000;
  opacity: 0.7;
}
.personal-section .container .text-side ul li a:hover {
  opacity: 1;
}
.personal-section .container .text-side ul li a:visited {
  color: #000;
}
.personal-section .container .grey-background {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E6E6E6;
  height: 50%;
  width: 100%;
  display: none;
}
@media (min-width: 650px) {
  .personal-section .container .grey-background {
    display: block;
  }
}

.my-work-section {
  position: relative;
  top: calc(100vh + 300px);
  overflow: auto;
  width: 100%;
  background-color: #F8F8F8;
}
@media (min-width: 650px) {
  .my-work-section {
    box-sizing: border-box;
    padding: 40px 50px 90px 50px;
  }
}
.my-work-section .container {
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 650px) {
  .my-work-section .container {
    flex-direction: row;
  }
}
.my-work-section .container .project {
  background-color: #54a0ff;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto 10px auto;
  width: 100%;
  max-width: 200px;
}
@media (min-width: 650px) {
  .my-work-section .container .project {
    margin: 0px 10px 10px 0px;
  }
}
.my-work-section .container .project h2 {
  font-size: 1.2em;
  color: white;
  font-family: Montserrat-Regular;
  margin: 0px 0px 10px 0px;
  min-height: 48px;
}
.my-work-section .container .project .links {
  display: flex;
  justify-content: center;
}
.my-work-section .container .project .links a {
  padding: 5px;
  color: #FFF;
  font-size: 1.3em;
  font-family: Montserrat-Regular;
  text-decoration: none;
  display: inline;
  width: calc(20% - 10px);
  text-align: center;
  margin-bottom: 5px;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-right {
  animation: fade-in-right ease 0.9s forwards;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(15px);
  }
  0% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=main.css.map */
