// Fonts
@font-face {
  src: url(./../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}

@font-face {
  src: url(./../fonts/Montserrat-Regular.ttf);
  font-family: Montserrat-Regular;
}

//Variables
$colors: (
  blue: #54a0ff,
  grey: #F8F8F8
);

$header-height: calc(100vh + 300px);

// Functions
@function color($color-name){
  @return map-get($colors, $color-name)
};


// Mixins
@mixin tablet{
  @media (min-width: 650px){
    @content;
  }
}
@mixin desktop{
  @media (min-width: 1000px){
    @content;
  }
}
@mixin desktop-large{
  @media (min-width: 1550px){
    @content;
  }
}

@mixin no-scroll-bar {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}


// General styles
html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}

p{
  font-family: Montserrat-Regular;
}

.page-borders{
  display: none;

  @include tablet{
    display: block;
  }

  div{
    position: fixed;
    background-color: #FFF;
  }

  .border-top{
    width: 100vw;
    height: 50px;
    top: 0;
    overflow: auto;

    p{
      margin-left: 50px;
      text-transform: uppercase;
    }
  }

  .border-right{
    width: 50px;
    height: 100vh;
    right: 0;
    top: 0;

    //Links to git and linkedin
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      width: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      li{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        a{
          text-decoration: none;
          font-size: 1.5em;
          opacity: 0.7;

          &:hover{
            color: black;
            opacity: 1;
          }

          &:visited{
            color: black;
          }
        }
      }
    }
  }

  .border-bottom{
    width: 100vw;
    height: 50px;
    bottom: 0;
  }

  .border-left{
    width: 50px;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

.landing-header{
  //<header>
  background-color: color(blue);
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: -9;

  @include tablet{
    box-sizing: border-box;
    padding: 50px 50px 0px 50px; // Makes sure the content does not disappear under site border
  }

  // Grey right site of landing section
  .header-background{
    width: 50%;
    height: 100%;
    background-color: color(grey);
    position: absolute;
    right: 0;
    -webkit-transition: 1s;
    transition: .7s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
  }

  img#landing-image{
    width: 200px;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: 1s;
    transition: .9s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
  }

  p#landing-text{
    font-family: Montserrat-Bold;
    color: #FFF;
    width: 200px;
    position: fixed;
    top: 70%;
    left: 30px;
    opacity: 0;
    transition: .8s;
    letter-spacing: 1px;

    @include tablet{
      left: 100px;
      width: 400px;
    }

    @include desktop{
      left: 300px;
    }
  }

  img#landing-scroll-down{
    width: 70px;
    position: fixed;
    left: 50%;
    top: calc(100% - 100px);
    transform: translateX(-50%);
    transition: .7s;

    @include tablet{
      top: calc(100% - 140px);
    }
  }
}

.personal-section{
  overflow: auto;
  background-color: color(grey);
  width: 100%;
  position: relative;
  top: $header-height;

  @include tablet{
    box-sizing: border-box;
    padding: 0px 50px; // Makes sure the content does not disappear under site border
  }
}

.my-work-section{
  position: relative;
  top: $header-height;
  overflow: auto;
  width: 100%;
  background-color: color(grey);

  @include tablet{
    box-sizing: border-box;
    padding: 0px 50px; // Makes sure the content does not disappear under site border
  }
}
